
<div class=" banner">
    <div class="content">
        <h1>Freesh Cooked at Your Door</h1>
        <button class="btn btn1"><a routerLink="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a></button>
    </div>
</div>
<div class="container mt-5 mb-4">
    <h1 class="text-center ">how to get <span class="title-fresh-food">fresh food</span> </h1>
    <div class="row mt-5">
        <!-- one -->
        <div class="col-lg-4 mt-2">
            <div class="stepbox">
                <h1>1</h1>
                <p>select food</p>
            </div>
        </div>
        <!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepbox">
                <h1>2</h1>
                <p>fill the details</p>
            </div>
        </div>
        <!-- thee -->
        <div class="col-lg-4 mt-2">
            <div class="stepbox">
                <h1>3</h1>
                <p>your order delivered in minutes</p>
            </div>
        </div>
    </div>
    <!-- foodbox -->
    <div class="container mb-4 mt-4">
        <h1 class="text-center">Customers <span class="title-fresh-food">Favorites Food</span> </h1>
        <div class="row">
            <div class="col-lg-3 mt-5" *ngFor="let i of foodData" >
                <div class="foodbox" >
                    <img [src]="i.foodImg" />
                    <h1>{{i.foodName}}</h1>
                    <p>{{i.foodPrice  | currency:'USD'}}</p>
                </div>

            </div>
        </div>
        <a routerLink="menu" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
    </div>