.banner{
    background-image: url(../../../assets/img/jon-tyson-ZA9PHAnVP5g-unsplash.jpg);
    height: 600px;
    background-position: center;
    background-size: cover;
    h1{
        padding-top: 10px;
        color: #fff;
       font-size: 50px;
       font-weight: bold;
    }
}
